@model List<StockExampleApp.Entity.Report>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Ürün Kodu</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Guncel Miktar</th>
            <th scope="col">Stoktan Düşülen Miktar</th>
            <th scope="col">Stoğa Eklenen Miktar</th>
            <th scope="col">Aksiyon Zamanı</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.productNo</td>
                <td>@item.productName</td>
                <td>@item.currentQuantity</td>
                <td>@item.droppedQuantity</td>
                <td>@item.addedQuantity</td>
                <td>@item.actionTime.ToString("dd-MM-yyyy :h:m")</td>
                <td>@item.status</td>
            </tr>
        }
    </tbody>
</table>